---
title: config
---

.page-header
  h1 設定

form role="form"
  .form-group
    label 知らない人との交流
    .btn-group data-toggle="buttons"
      label.btn.btn-default.active
        input#option1 type="radio" name="options" する
      label.btn.btn-default
        input#option2 type="radio" name="options" しない

p とか？

= partial "layouts/footer"
