---
title: index
---

.page-header
  h1 リスト

.list-group.items
  a.list-group-item href="item.html"
    span.pull-left
      img.media-object src="https://pbs.twimg.com/profile_images/3501805771/d88bb9965b841e8f6f3dcd354ee4b46f.jpeg" width="64" height="64"
    | よつばと！
    span.pull-right.glyphicon.glyphicon-chevron-right
  a.list-group-item href="item.html"
    span.pull-left
      img.media-object src="https://pbs.twimg.com/profile_images/3413001146/e1b897d093fa5ac35fe0ea381eda4013.jpeg" width="64" height="64"
    | ラブライブ
    span.pull-right.glyphicon.glyphicon-chevron-right
  a.list-group-item href="item.html"
    span.pull-left
      img.media-object src="http://www.toei-anim.co.jp/tv/precure/images/top/chara01.png" width="64" height="64"
    | ハピネスチャージプリキュア
    span.pull-right.glyphicon.glyphicon-chevron-right

= partial "layouts/footer"
